html, body {
    padding: 20px 0;
    font-size: 12px;
    margin-top: 20px;
    background-color: #FEEFE5;
  }

  .btn {
    cursor: pointer;
  }

  .btn-toolbar .btn:nth-child(n+2) {
    margin-left: 8px;
  }
  